aside { 
    grid-area: 1 / 3 / 2 / 4;
    padding: 40px;
    perspective: 800px;
    position: relative;
}
.aside-card{
    width: calc(100% - 80px);
    height: calc(100vh - 80px);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 900ms ease-in-out;
    cursor: pointer;
}
.aside-card:hover{
    scale: 1.01;
    transition: 300ms ease-out;
}
.side-info-container{
    padding: 20px;
    background-color: var(--primary);
    /* height: 100%; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.profile-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}
.profile-container img{
    width: 150px;
    height: 150px;
    border: 1px solid var(--secondary);
    border-radius: 50%;
}
.profile-container p{
    color: var(--secondary);
    margin: 5px 0px;
    font-weight: 600;
}
.tasks-analytics-list .row{
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 10px;
}
.back-view {
    transform: rotateY(180deg);
}
/* Flip Effect */
.flipped .front-view{
    transform: rotateY(180deg);
}

.flipped .back-view {
    transform: rotateY(0deg);
}
#createTaskForm textarea{
    height: 100px;
}