:root {
    --primary: #292216; /*Dark Olive*/
    --secondary: #fdecb2; /*Pale Gold*/
    --white: #ffffff;
    --dark: #0c1025;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    padding: 40px;
}

/** Common styling */
.box-shadow-lg{
    box-shadow: -1px 7px 53px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -1px 7px 53px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -1px 7px 53px 5px rgba(0,0,0,0.33);
}
.box-shadow-sm{
    box-shadow: -2px 10px 51px 7px rgba(86,86,86,0.25);
    -webkit-box-shadow: -2px 10px 51px 7px rgba(86,86,86,0.25);
    -moz-box-shadow: -2px 10px 51px 7px rgba(86,86,86,0.25);
}
.row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.FormControl{
    padding: 10px;
    outline: none;
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}
.FormControl:focus{
    background-color: var(--secondary);
    /* border: 1px solid var(--primary); */
    transition: 0.2s ease-in-out;
}
.bg-primary{
    background-color: var(--primary);
    color: var(--secondary);
}
.bg-secondary{
    background-color: var(--secondary);
    color: var(--primary);
}
.btn{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 800;
}
.btn-primary:hover{
    background-color: #292216c9;
    transition: all .3s ease-in-out;
}
.btn-secondary{
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: 800;
}
.btn-secondary:hover{
    background-color: #fdebb2df;
    transition: all .3s ease-in-out;
}
.btn span{
    margin: 0px 5px;
}
.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--dark);
}
.text-white{
    color: var(--white);
}
.text-xl{
    font-size: xx-large;
}
.text-lg{
    font-size: large;
    font-weight: 600;
}
.text-md{
    font-size: medium;
}
.text-sm{
    font-size: small;
}
.text-xs{
    font-size: x-small;
}
.mx-lg{
    margin: 0px 20px;
}
.mx-md{
    margin: 0px 10px;
}
.mx-sm{
    margin: 0px 5px;
}
.my-lg{
    margin: 20px 0px;
}
.my-md{
    margin: 10px 0px;
}
.my-sm{
    margin: 5px 0px;
}
.hidden{
    display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none; 
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.center-div{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 200px;
    max-width: 400px;
    z-index: 1;
    right: 0;
    border-radius: 10px;
    padding: 5px 0px;
}
/* Links inside the dropdown */
.dropdown-content ul li {
    color: var(--primary);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content ul li:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--primary);
    color: var(--secondary);
}
.flipping-container{
    perspective: 1000vw;
    position: relative;
}
.flipping-container-card{
    width: calc(100%);
    height: calc(100vh - 80px);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 900ms ease-in-out;
    cursor: pointer;
}
.back-view {
    transform: rotateY(180deg);
}
/* Flip Effect */
.flipped .front-view{
    transform: rotateY(180deg);
}

.flipped .back-view {
    transform: rotateY(0deg);
}
/* // media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 20px;
    }
    main{
        grid-area: 1 / 1 / 2 / 2;
    }
    .task-container-body{
        height:100vh;
    }
    aside{
        grid-area: 1 / 1 / 2 / 2;
        padding: 10px;
    }
    .dropdown-content{
        left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}